.env
.phpunit.result.cache
/.DS_Store
**/.DS_Store
/vendor
/node_modules
/public/build
/public/hot
/public/assets
/public/uploads
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache/*.php
/.qwen/*
/storage/app/backups/*
/storage/app/geoip/*.mmdb
/public/sitemap.xml
/public/sitemaps/*
.pachim.json
boost.json
