@import "tailwindcss";
@import "./fonts.css";
@import "./admin-dashboard.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1380px;

  --color-primary: #f34e1a;
  --color-primary-hover: #db3a0a;

  --font-iranyekan: IRANYekan;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: var(--font-iranyekan);
    margin: 0;
    padding: 0;
  }
}
